.Home {
	margin: 30px auto;

	&__title {
		text-align: center;
		font-size: 16pt;
		font-weight: 500;
	}

	&__primeiros-passos {
		&__img {
			height: 300px;
			background-size: contain !important;
		}
	}

	&_map {
		height: 70vh;
		width: 80vw;
	}
}