.Animations {
	&__fade {
		&-enter {
			opacity: 0;
			z-index: 1;

			&-active {
				opacity: 1;
				transition: 1.1s ease;
			}
		}
		&-exit {
			opacity: 1;

			&-active {
				opacity: 0;
				transition: 1.1s ease;
			}
		}
	}

	&__fade-in-up {
		&-enter {
			-webkit-transform: translateY(35px);
			-moz-transform: translateY(35px);
			-ms-transform: translateY(35px);
			-o-transform: translateY(35px);
			transform: translateY(35px);
			opacity: 0;
			
			&-active {
				-webkit-transform: translateY(0%);
				-moz-transform: translateY(0%);
				-ms-transform: translateY(0%);
				-o-transform: translateY(0%);
				transform: translateY(0%);
				opacity: 1;
				transition: 1.3s ease;
			}
		}
		&-exit {
			-webkit-transform: translateY(0%);
			-moz-transform: translateY(0%);
			-ms-transform: translateY(0%);
			-o-transform: translateY(0%);
			transform: translateY(0%);
			opacity: 1;
			
			&-active {
				-webkit-transform: translateY(35px);
				-moz-transform: translateY(35px);
				-ms-transform: translateY(35px);
				-o-transform: translateY(35px);
				transform: translateY(35px);
				opacity: 0;
				transition: 1.3s ease;
			}
		}
	}

	&__stack-up {
		&-enter {
			-webkit-transform: translateY(100vh);
			-moz-transform: translateY(100vh);
			-ms-transform: translateY(100vh);
			-o-transform: translateY(100vh);
			transform: translateY(100vh);
			
			&-active {
				-webkit-transform: translateY(0);
				-moz-transform: translateY(0);
				-ms-transform: translateY(0);
				-o-transform: translateY(0);
				transform: translateY(0);
				transition: 1.5s ease;
			}
		}
		&-exit {
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
			
			&-active {
				-webkit-transform: translateY(100vh);
				-moz-transform: translateY(100vh);
				-ms-transform: translateY(100vh);
				-o-transform: translateY(100vh);
				transform: translateY(100vh);
				transition: 1.5s ease;
			}
		}
	}
}