.ExpansiveCard {
	width: 100%;

	&:last-child {
		margin-bottom: 0;
	}

	&_Card {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		width: 85vw !important;

		&:hover {
			background-color: white;
		}
	}
}