.FancyCard {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;

	&_Col {
		padding: 0;
		width: 100%;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&_Card {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	&_Image {
		width: 100%;
		height: 300px;
	}
}